global
    maxconn 4096
    nbthread 4
    daemon

defaults
    mode http
    option httplog
    option dontlognull
    timeout client  60s
    timeout server  120s
    timeout http-request 30s
    timeout http-keep-alive 10s
    timeout connect 10s
    option http-buffer-request

frontend http_front
    bind *:9999
    default_backend fraud_detector

backend fraud_detector
    balance roundrobin
    option httpchk GET /ready
    option http-keep-alive
    http-reuse always
    default-server inter 5s fall 5 rise 3 slowstart 10s
    server api1 api1:8080 check
    server api2 api2:8080 check
